<!--Esse template herda no extends o layout.html
ELe tem estruturas básicas de layout-->

{% extends 'layout.html' %}


{% block title %}


Index



{% endblock %}

{% block content %}
<h1>Quem sou eu?

</h1>



<p> Me chamo Thaís De Michelis Silva, estudante do colégio Cotemig, atualmente estou no meu ultimo ano na escola. Sou muito fã da Patixa Teló, inclusive, ela tinha que ser presidente, a mais mais.
    </p>
    <p>
    Esta é minha primeira atividade fazendo um menu lateral, estou feliz com os resultados, mas posso melhorar.

</p>

<h2> Patixa Teló para presidente!! </h2>

{% endblock %}